.idea/.idea.Library/riderModule.iml
.idea/.idea.Library/.idea/vcs.xml
.idea/.idea.Library/.idea/contentModel.xml
.idea/.idea.Library/.idea/workspace.xml
.idea/.idea.Library/.idea/indexLayout.xml
.idea/.idea.Library/.idea/modules.xml
