<form asp-controller="Users" asp-action="SendEmails">
    <p>
        <input type="text" name="names[0]" />
    </p>
    <p>
        <input type="text" name="names[2]" />
    </p>
    <p>
        <input type="text" name="names[1]" />
    </p>
    <p>
        <input type="submit" value="Send" />
    </p>
</form>